<link rel="stylesheet" href="{{ themePath }}/antd.min.css">
<link rel="stylesheet" href="{{ themePath }}/antd-theme.css">
<style>
    .ant-tabs-nav-wrap, .ant-tabs-nav {
        max-height: 40px;
    }
</style>
<div class="ant-list ant-list-lg ant-list-split ant-list-bordered ant-list-something-after-last-item">
    <div class="ant-spin-nested-loading">
        <div class="ant-spin-container">
            <div class="ant-list-items">
            </div>
        </div>
    </div>
</div>